* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
}

html {
    
}

img {
    max-width: 100%;
}
/*--HEADER--*/

header {
    position: fixed;
    height: 150px;
    width: 100%;
    border-bottom: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

header nav a {
    margin: 10px;
    text-decoration: none;
    text-transform: uppercase;
}



/*--BANNER--*/

.banner {
    display: flex;
    position: relative;
    top: 150px;
    background: url(/images/banner.jpg);
    width: 1200px;
    height: 500px;
    margin: 0 auto;
    border-radius: 10px;
    align-items: center;
    justify-content: space-evenly;
}

.banner div {
    flex-basis: 500px;
}

.banner img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
}


/*--PROJECTS--*/

/*--FOOTER--*/
